*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
}

body{
    background-color:black;
    
}

.header-info{
    display: flex;
    align-items:center;
    gap: 38px; 
    padding-left: 15px;
    padding-top:15px;
    height: 60px;
   
}

span{
    color: white;
    padding-top: 0;
}

.menu ul{
    display:flex;
    flex-direction:column;
    padding-top:100px;
    padding-left:18px;
    gap:60px;
    list-style: none;
}



.img:hover{
    cursor:pointer;
}

.menuicon{
    width:32px;
    height:30px;

}

.menuicon:hover{
    background-color: white;
    cursor:pointer;
}

.first-container{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:37px;

}

.block{
    width: 245px;
    height: 153px;
    background-color:#1D1D1D;
    border-radius: 20px;
}

.page{
    display:flex;
}

.main-content{
    padding-top: 90px;
    padding-left:20px;
}

.middle-container{
    width: 809px;
    height:195px;
    background-color:#1D1D1D;
    border-radius: 20px;
    margin-top:38px;
}

.bottom-container{
    display:flex;
    width:809px;
    height:157px;
    gap:37px;
    margin-top:38px;
}

.left,.right{
    width:386px;
    height:197px;
    background-color:#1D1D1D;
    border-radius: 20px;

}

.colorful-blocks{
    position:relative;
    width:295px;
    height:296px;
    margin-top:46px;
}
.purple{
    position:absolute;
    z-index:3;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:218px;
    height:251px;
    background:linear-gradient(rgba(43, 16, 67, 1),rgba(123, 32, 226, 1));
    border-radius: 36px;
    border:1px rgba(68, 7, 126, 1) solid;
}

.yellow{
    position:absolute;
    z-index:2;
    top: 50%;
    left:50%;
    width:218px;
    height:206px;
    background-color:rgba(198, 142, 60, 1);
    border-radius: 36px;
    transform: translate(-35%, -60%) rotate(-16.56deg);

}

.green{
    position: absolute;
    z-index:1;
    top:50%;
    left:50%;
    width:218px;
    height:206px;
    background-color:#2F847F;
    border-radius: 36px;
    transform:translate(-20%, -80%) rotate(-34.12deg);

}

.sidebar-container{
    width:259px;
    height:273px;
    background-color:#1D1D1D;
    border-radius:20px;
    margin-top:90px;
    margin-left:37px;
}

.main-page{
    width:1229px;
    height:800px;
    border-radius:20px;
    background-color:#262525;
    margin-left:26px;
    margin-top:16px;
    display: flex;
    flex-direction: column;
}